:root {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem;
}
.header {
  background-color: black;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  &__logo {
    align-self: center;
    width: 6rem;
    height: 6rem;
    margin-right: 4rem;
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.contact {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  &__image {
    align-self: center;
    width: auto;
    height: 26rem;
    @media (max-width: 966px) {
      display: none;
    }
  }
  &__right {
    align-self: center;
    margin-left: 0.5rem;

    padding: 0.5rem;
    background-color: yellow;
    width: 30%;
    height: 25rem;
    @media (max-width: 966px) {
      width: 100%;
      margin-left: 0rem;
    }
  }
  &__title {
    margin: 0;
  }
  &__details {
    padding: 0.5rem;
    border: solid 2px;
    border-color: black;
    margin-bottom: 0.5rem;
  }
  &__adresses {
    display: flex;
    justify-content: space-around;
  }
}
.aboutus {
  &__image {
    &--smallscreen {
      width: 100%;
      height: auto;
      display: flex;
      align-self: center;
    }
    width: auto;
    height: 26rem;
    @media (min-width: 966px) {
      &--smallscreen {
        display: none;
      }
    }
    @media (max-width: 965px) {
      &--bigscreen {
        display: none;
      }
    }
  }
  &__textblock {
    display: flex;
    @media (min-width: 966px) {
      margin: 0 2rem 0 2rem;
    }
  }
}
.footer {
  background-color: black;
  color: white;
  justify-content: space-around;
  padding: 1rem;
  @media (min-width: 966px) {
    display: flex;
  }
}
